#div-form{
    width: 500px;
    min-height: 400px;
    margin: 22px auto;
    padding: 20px;
    background-color: rgb(3, 212, 73);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}


#form{
    background-color: rgb(242, 246, 248);
    padding: 12px;
}

label{
    display: block;
    margin: 15px auto;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.8em;
}

.input-vlr01{
    width: 400px;
}

.input-vlr01, .input-vlr02{
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.3em;
}

.input-vlr02{
    width: 300px;
}

input[type="radio"], input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

textarea{
    width: 400px;
    height: 100;
    padding: 20px;
    resize: none;
}

#div-bnts{
    border: solid 5px ;
    margin: 20px 0px;
}

button{
    width: 130px;
    height: 30px;
    cursor: pointer;
}

input::placeholder {
    color: rgb(5, 224, 151);
    letter-spacing: 5px;
}

a:link{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: rgb(24, 248, 173);
    background-color: rgb(5, 133, 69);
}

    a:hover{
        color: rgb(1, 58, 46);
        background-color: rgb(2, 27, 19);
    }

    


